<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->

	<head>

		<!-- PAGE DESCRIPTION
		================================================== -->
		<meta charset="utf-8">
		<title>Predicting Reassault - A Domestic Violence Prevention Project</title>
		<meta name="description" content="Using data from a study on domestic violence cases in Chicago (Block, C. R., 1995), analyzed reported cases to predict the key indicators of recidivism (re-assault) and created web app with personalized resources for victims of domestic violence.">
		<meta name="author" content="Ednalyn C. De Dios, Jesse Ruiz, Matthew Capper">

		<!-- MOBILE SPECIFIC
		================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- CSS
		 ================================================== -->
		<link rel="stylesheet" href="../static/css/default.css">
		<link rel="stylesheet" href="../static/css/layout.css">
		<link rel="stylesheet" href="../static/css/media-queries.css">

		<!-- SCRIPTS
		================================================== -->
		<script src="../static/js/modernizr.js"></script>

		<!-- FAVICONS & APP ICONS
		================================================== -->
		<link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
		<link rel="manifest" href="../static/images/site.webmanifest">
		<link rel="mask-icon" href="../static/images/safari-pinned-tab.svg" color="#6600ff">
		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="theme-color" content="#ffffff">

	</head>

	<body>

		<!-- HEADER
		================================================== -->
		<header id="home">
		
			<nav id="nav-wrap">
			
				<a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
				<a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
				
				<ul id="nav" class="nav">
					<li class="current"><a class="smoothscroll" href="#home">Home</a></li>
					<li><a class="smoothscroll" href="#about">About</a></li>
					<li><a class="smoothscroll" href="#research">The Research</a></li>
					<li><a class="smoothscroll" href="#model">The Model</a></li>
					<li><a class="smoothscroll" href="#contact">Contact Us</a></li>
				</ul><!-- end #nav -->
			
			</nav><!-- end #nav-wrap -->
			
			<div class="row banner">
				<div class="banner-text">
					<h1 class="responsive-headline">Predicting Reassault</h1>
					<h3><span>If you or somebody you know might be experiencing domestic violence, please call 1-800-799-7233. </span></h3>
					<hr />
					<ul class="social">
						<li><a href="https://github.com/codeup-capstone-one/domestic-violence"><i class="fa fa-github"></i></a></li>
					</ul>
				</div>
			</div><!-- end of .row -->
			
			<p class="scrolldown">
				<a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
			</p>
			
		</header><!-- end HEADER -->


		<!-- ABOUT
		================================================== -->
		<section id="about">

			<div class="row">

			<div class="ten columns main-col">

				<h1>The Problem</h1>

				<p>Domestic violence and assault are a pervasive and ubiquitous plague that blankets the entirety of the population. Current practrices in the criminal justice system and social work are deficient and lack resources to adequately gauge the level of risk for reassault.</p>

				<p>Our target in this project was to take the myriad of survey answers taken across a breadth of inquiries from the Chicago Women’s Health Risk Study and narrow it down to a small, digestible set of minimally invasive questions. These questions could assess whether or not a given individual was at risk of reassault as a means to possible next-steps for protection.</p>
				
				<p><span><a href="https://www.icpsr.umich.edu/icpsrweb/NACJD/studies/3002">Chicago Women's Health Risk Study, 1995-1998 (ICPSR 3002)</a></span></p>

				<p>&nbsp;</p>


				<p><a href="../static/docs/Safety_Planning_Worksheet.pdf" class="button"><i class="fa fa-download"></i> Download Safety Plan</a></p>

				<p><a href="../static/docs/20190608_Permanent_Protective_Order_Application_Kit_fillable.pdf" class="button"><i class="fa fa-download"></i> Download Pro-se Protective Order Kit</a></p>

				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>

			</div><!-- end .main-col -->

			<div class="two columns">

				

			</div>

		</div><!-- end .row -->

		</section><!-- end ABOUT -->
		

		<!-- RESEARCH
		================================================== -->
		<section id="research">

			<div class="text-container">

				<div class="row">

					<div class="twelve columns header-col">
						<a href="https://www.icpsr.umich.edu/icpsrweb/NACJD/studies/3002"><img src="../static/images/domestic-violence/viz/nacjd.png"></a>
					</div>

				</div> <!-- row ends -->

			</div>  <!-- end text-container -->

		</section> <!-- end RESEARCH-->


		<!-- INSIGHTS
		================================================== -->
		<section id="insights">
		
			<div class="row add-bottom">
				<div class="twelve columns add-bottom">
					<h1>Slapping</h1>
					<p>The correlation between the occurrence of slapping and re-assault is perhaps the most striking observation encountered in this exploration.  Here, it can be observed that the average rate of re-assault raises exceptionally, merely by the occurrence of one slapping incident.</p>
					<img src="../static/images/domestic-violence/viz/slap.jpg">
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>

					<h1>Power &amp; Control</h1>
					<p>The Power scale is an aggregate measure from 0-5 based on the following inquiries:</p>
					<p>In the past year, an intimate partner...</p>
					<li>Was jealous and didn’t want you to talk to other men (women)</li>
					<li>Tried to limit your contact with family or friends</li>
					<li>Insisted on knowing who are with and where you are at all times</li>
					<li>Called you names to put you down or make you feel bad</li>
					<li>Prevented you from knowing about or having access to family income, even if you ask</li>
					<img src="../static/images/domestic-violence/viz/power_scale.jpg">
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					
					<h1>Power Scale for Age Disparity and Length of Relationship</h1>
					<p>Age disparity between perpetrator and respondent:</p>
					<p>
						3: Perpetrator is older by 21-42 years<br/>
						2: Perpetrator is older by 10-20 years<br/>
						1: Perpetrator is older by 5-9 years
					</p>
					<p>
						0: same age & within 5 years<br/>
						1: Respondent is older by 5-9 years<br/>
						2: Respondent is older by 10-20 years
					</p>
					<img src="../static/images/domestic-violence/viz/age_length.png">
					<p>&nbsp;</p>
					<p>&nbsp;</p>
				</div>
			</div><!-- end insights preamble -->
		
			<div class="row add-bottom">

				<div class="twelve columns">
					
				</div><!-- end heatmap -->

			</div><!-- end insights text -->
			
		</section><!-- end insights -->




		<!-- TESTIMONIALS
		================================================== -->
		<section id="testimonials">

			<div class="text-container">

				<div class="row">

					<div class="two columns header-col">

					</div>

					<div class="ten columns flex-container">

						<div class="flexslider">

							<ul class="slides">
								<li>
									<blockquote>
										<p>The purpose of all theory is to understand and explain.</p>
										<cite>Einstadter & Henry (1995)</cite>
										<p>&nbsp;</p>
										<p>&nbsp;</p>
									</blockquote>
								</li> <!-- end slide -->
							</ul>
						</div> <!-- div.flexslider ends -->

					</div> <!-- div.flex-container ends -->

				</div> <!-- row ends -->

			</div>  <!-- end text-container -->

		</section> <!-- end TESTIMONIALS-->
		

		
		<!-- MODEL
		================================================== -->
		<section id="model">
		
			<div class="row add-bottom">
				<div class="twelve columns add-bottom">
					<h1>The Model</h1>
					<p>The following survey will assess the risk of re-assault on the presumption that the individual filling out this questionnaire has been the victim of an instance of abuse.  We encourage honest replies and consideration of the following inquiries to which our model will predict a chance of re-assault as a percent value.</p>
				</div>
			</div><!-- end model preamble -->
		
			<div class="row add-bottom">
				<form method="POST" action="/domestic-violence/submit-dv">

					<div class="eight columns add-bottom">

						<h3>Has your partner ever tried to limit your contact with your family?</h3>
						<input type="radio" name="q4" value="1"> Yes<br>
						<input type="radio" name="q4" value="0" checked=checked> No<br>
						<p>&nbsp;</p>

						<h3>Has your partner threatened to hit you before?</h3>
						<input type="radio" name="q6" value="1"> Yes<br>
						<input type="radio" name="q6" value="0" checked=checked> No<br>
						<p>&nbsp;</p>

						<h3>Has your partner ever threaten you with an object?</h3>
						<input type="radio" name="q2" value="1"> Yes<br>
						<input type="radio" name="q2" value="0" checked=checked> No<br>
						<p>&nbsp;</p>

						<h3>Is your partner constantly jealous of you to the point of violence?</h3>
						<input type="radio" name="q8" value="1"> Yes<br>
						<input type="radio" name="q8" value="0" checked=checked> No<br>
						<p>&nbsp;</p>
					
						<h3>Has your partner ever slapped you?</h3>
						<input type="radio" name="q1" value="1"> Yes<br>
						<input type="radio" name="q1" value="0" checked=checked> No<br>
						<p>&nbsp;</p>

						<h3>Has your partner pushed or shoved you?</h3>
						<input type="radio" name="q7" value="1"> Yes<br>
						<input type="radio" name="q7" value="0" checked=checked> No<br>
						<p>&nbsp;</p>

						<h3>Has your partner ever kicked or punched you?</h3>
						<input type="radio" name="q5" value="1"> Yes<br>
						<input type="radio" name="q5" value="0" checked=checked> No<br>
						<p>&nbsp;</p>

						<h3>Has your partner ever beaten you?</h3>
						<input type="radio" name="q3" value="1"> Yes<br>
						<input type="radio" name="q3" value="0" checked=checked> No<br>
						<p>&nbsp;</p>

						<h3>Have your ever felt like your life was in danger?</h3>
						<input type="radio" name="q9" value="1"> Yes<br>
						<input type="radio" name="q9" value="0" checked=checked> No<br>
						<p>&nbsp;</p>

						<input class="btn" type="submit" value="Click here to submit.">
						<p>&nbsp;</p>
						
					</div>
					
					<div class="four columns add-bottom">
						
					</div>
			
				</form>
			</div><!-- end model text -->
			
		</section><!-- end MODEL -->



		<!-- CONTACT
		================================================== -->
		<section id="contact">

			<div class="row section-head">

				<div class="twelve columns">

					<h1>Contact Us</h1>
					<p>&nbsp;</p>

				</div>

			</div>

			<div class="row">

				<aside class="four columns footer-widgets">

					<div class="widget widget_contact">

						<img src="../static/images/domestic-violence/matthew.jpg">
						<h4>Matthew Capper</h4>
						<p class="address">
						<span>(210) 867-1894</span><br>
						<a href="mailto:matthew.capper01@gmail.com">Email &middot;
						<a href="https://twitter.com/mcapper01">Twitter &middot;
						<a href="https://github.com/matthewcapper">Github <br>
						<a href="https://www.linkedin.com/in/matthew-capper/">LinkedIn &middot;
						<a href="https://alumni.codeup.com/uploads/697-1559489802.pdf">Resumé</a>
						</p>

					</div>

				</aside>

				<aside class="four columns footer-widgets">

					<div class="widget widget_contact">

						<img src="../static/images/domestic-violence/dd.jpg">
						<h4>Ednalyn C. De Dios</h4>
						<p class="address">
						<span>(210) 236-2685</span><br>
						<a href="mailto:ednalyn.dedios@gmail.com">Email &middot;
						<a href="https://twitter.com/ecdedios">Twitter &middot;
						<a href="https://github.com/ecdedios">Github <br>
						<a href="https://www.linkedin.com/in/ecdedios/">LinkedIn &middot;
						<a href="https://alumni.codeup.com/uploads/699-1559446559.pdf">Resumé</a>
						</p>

					</div>

				</aside>

				<aside class="four columns footer-widgets">

					<div class="widget widget_contact">

						<img src="../static/images/domestic-violence/jesse.jpg">
						<h4>Jesse J. Ruiz</h4>
						<p class="address">
						<a href="mailto:jesse.jinna.ruiz@gmail.com">Email &middot;
						<a href="https://twitter.com/jessejinnaruiz">Twitter &middot;
						<a href="https://github.com/jessejinnaruiz">Github <br>
						<a href="https://www.linkedin.com/in/jesse-jinna-ruiz/">LinkedIn &middot;
						<a href="https://alumni.codeup.com/uploads/705-1560351051.pdf">Resumé</a>
						</p>

					</div>

				</aside>

			</div>

		</section> <!-- Contact Section End-->


		<!-- FOOTER
		================================================== -->
		<footer>

			<div class="row">

				<div class="twelve columns">

					<ul class="social-links">
						<li><a href="https://github.com/codeup-capstone-one/domestic-violence"><i class="fa fa-github"></i></a></li>
					</ul>

					<ul class="copyright">
                        <li>&copy; 2019 Codeup Queers</li>
                    </ul>

				</div>

				<div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home">
					<i class="icon-up-open"></i></a>
				</div>

			</div>

		</footer> <!-- Footer End-->


		<!-- JAVASCRIPT
		================================================== -->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../static/js/jquery-1.10.2.min.js"><\/script>')</script>
		<script type="text/javascript" src="../static/js/jquery-migrate-1.2.1.min.js"></script>

		<script src="../static/js/jquery.flexslider.js"></script>
		<script src="../static/js/waypoints.js"></script>
		<script src="../static/js/jquery.fittext.js"></script>
		<script src="../static/js/magnific-popup.js"></script>
		<script src="../static/js/init.js"></script>


	</body>

</html>