<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->

    <head>

        <!-- PAGE DESCRIPTION
        ================================================== -->
        <meta charset="utf-8">
        <title>[RESULT] Predicting Violence - A Domestic Violence Prevention Project</title>
        <meta name="description" content="Put a long multi-line description of the website here.">
        <meta name="author" content="Ednalyn C. De Dios, Jesse Ruiz, Matthew Capper">

        <!-- MOBILE SPECIFIC
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- CSS
         ================================================== -->
        <link rel="stylesheet" href="../static/css/default.css">
        <link rel="stylesheet" href="../static/css/layout.css">
        <link rel="stylesheet" href="../static/css/media-queries.css">
        <link rel="stylesheet" href="../static/css/magnific-popup.css">

        <!-- SCRIPTS
        ================================================== -->
        <script src="../static/js/modernizr.js"></script>

        <!-- FAVICONS & APP ICONS
        ================================================== -->


    </head>

    <body>

        <!-- HEADER
        ================================================== -->
        <header id="home">
        
            <nav id="nav-wrap">
            
                <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
                <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
                
                <ul id="nav" class="nav">
                    <li><a href="/domestic-violence">Go Back.</a></li>
                    <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
                    <li><a class="smoothscroll" href="#model">The Model</a></li>
                    <li><a class="smoothscroll" href="#contact">Report</a></li>
                </ul><!-- end #nav -->
            
            </nav><!-- end #nav-wrap -->
            
            <div class="row banner">
                <div class="banner-text">
                    <h1 class="responsive-headline">{{ prediction }}
                    <hr />
                    <h3><span>Likelihood of violence is {{ prediction }}.</span></h3>
                    <ul class="social">
                        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div><!-- end of .row -->
            
            <p class="scrolldown">
                <a class="smoothscroll" href="#model"><i class="icon-down-circle"></i></a>
            </p>
            
        </header><!-- end HEADER -->
        
        
        <!-- MODEL
        ================================================== -->
        <section id="model">
        
            <div class="row add-bottom">
                <div class="twelve columns add-bottom">
                    <h1>The Model</h1>
                </div>
            </div><!-- end model preamble -->
        
            <div class="row add-bottom">
                <form method="POST" action="/submit_dv">

                    <div class="eight columns add-bottom">
                    
                        <h3>Has he ever tried to hit you before?</h3>
                        {% if feature1 == 0 %}
                            <p>You answered NO.</p>
                        {% else %}
                            <p>You answered YES.</p>
                        {% endif %}
                        <p>&nbsp;</p>

                        <h3>Does he control most or all of your daily activities? (For instance: does he tell you who you can be friends with, when you can see your family, how much money you can use, or when you can take the car?</h3>
                        {% if feature2 == 0 %}
                            <p>You answered NO.</p>
                        {% else %}
                            <p>You answered YES.</p>
                        {% endif %}
                        <p>&nbsp;</p>

                        <h3>Is he violently and constantly jealous of you?</h3>
                        {% if feature3 == 0 %}
                            <p>You answered NO.</p>
                        {% else %}
                            <p>You answered YES.</p>
                        {% endif %}
                        <p>&nbsp;</p>

                        <h3>Does he follow or spy on you, leave threatening notes or messages, destroy your property, or call you when you don’t want him to?</h3>
                        {% if feature4 == 0 %}
                            <p>You answered NO.</p>
                        {% else %}
                            <p>You answered YES.</p>
                        {% endif %}
                        <p>&nbsp;</p>

                        <h3>Has he ever thrown an object at you?</h3>
                        {% if feature5 == 0 %}
                            <p>You answered NO.</p>
                        {% else %}
                            <p>You answered YES.</p>
                        {% endif %}
                        <p>&nbsp;</p>

                        <h3>Has he ever tried to hit you before?</h3>
                        {% if feature6 == 0 %}
                            <p>You answered NO.</p>
                        {% else %}
                            <p>You answered YES.</p>
                        {% endif %}
                        <p>&nbsp;</p>

                        <h3>Does he control most or all of your daily activities? (For instance: does he tell you who you can be friends with, when you can see your family, how much money you can use, or when you can take the car?</h3>
                        {% if feature7 == 0 %}
                            <p>You answered NO.</p>
                        {% else %}
                            <p>You answered YES.</p>
                        {% endif %}
                        <p>&nbsp;</p>

                        <h3>Is he violently and constantly jealous of you?</h3>
                        {% if feature8 == 0 %}
                            <p>You answered NO.</p>
                        {% else %}
                            <p>You answered YES.</p>
                        {% endif %}
                        <p>&nbsp;</p>

                        <h3>Does he follow or spy on you, leave threatening notes or messages, destroy your property, or call you when you don’t want him to?</h3>
                        {% if feature9 == 0 %}
                            <p>You answered NO.</p>
                        {% else %}
                            <p>You answered YES.</p>
                        {% endif %}
                        <p>&nbsp;</p>

                        <h3>Has he ever thrown an object at you?</h3>
                        {% if feature10 == 0 %}
                            <p>You answered NO.</p>
                        {% else %}
                            <p>You answered YES.</p>
                        {% endif %}
                        <p>&nbsp;</p>

                        <h3>Does he follow or spy on you, leave threatening notes or messages, destroy your property, or call you when you don’t want him to?</h3>
                        {% if feature11 == 0 %}
                            <p>You answered NO.</p>
                        {% else %}
                            <p>You answered YES.</p>
                        {% endif %}
                        <p>&nbsp;</p>

                        <h3>Has he ever thrown an object at you?</h3>
                        {% if feature12 == 0 %}
                            <p>You answered NO.</p>
                        {% else %}
                            <p>You answered YES.</p>
                        {% endif %}
                        <p>&nbsp;</p>
                                                
                    </div>
                    
                    <div class="four columns add-bottom">
                        
                    </div>
            
                </form>
            </div><!-- end model text -->
            
        </section><!-- end MODEL -->

        <!-- CONTACT
        ================================================== -->
        <section id="contact">

            <div class="row section-head">

                <div class="two columns header-col">

                    <h1><span>Get In Touch.</span></h1>

                </div>

                <div class="ten columns">

                    <p class="lead">Use the form below to send me a direct email. Don't forget to include information on how to best get a hold of you, e.g. extension numbers, best time to call et cetera. Please allow 24 hours for a response.</p>

                </div>

            </div>

            <div class="row">

                <div class="eight columns">

                    <!-- form -->
                    <form action="" method="post" id="contactForm" name="contactForm">
                        <fieldset>

                            <div>
                                <label for="contactName">Name <span class="required">*</span></label>
                                <input type="text" value="" size="35" id="contactName" name="contactName">
                            </div>

                            <div>
                                <label for="contactEmail">Email <span class="required">*</span></label>
                                <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                                </div>

                            <div>
                                <label for="contactSubject">Subject</label>
                                <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                            </div>

                            <div>
                                <label for="contactMessage">Message <span class="required">*</span></label>
                                <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                            </div>

                            <div>
                                <button class="submit">Submit</button>
                                <span id="image-loader">
                                <img alt="" src="images/loader.gif">
                                </span>
                            </div>

                        </fieldset>
                    </form> <!-- Form End -->

                    <!-- contact-warning -->
                    <div id="message-warning"> Error boy</div>
                    <!-- contact-success -->
                    <div id="message-success">
                        <i class="fa fa-check"></i>Your message was sent, thank you!<br>
                    </div>

                </div>


                <aside class="four columns footer-widgets">

                    <div class="widget widget_contact">

                        <h4>Questions?</h4>
                        <p class="address">
                        Zenobia Adkins<br>
                        <span>(210) 549-7555</span><br>
                        <a href="mailto:zenobia.adkins@gmail.com">zenobia.adkins@gmail.com</a>
                        </p>

                    </div>

                </aside>

            </div>

        </section> <!-- Contact Section End-->


        <!-- FOOTER
        ================================================== -->
        <footer>

            <div class="row">

                <div class="twelve columns">

                    <ul class="social-links">
                        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/codeup-capstone-one/domestic-violence"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://data.world/"><i class="fa fa-briefcase"></i></a></li>
                    </ul>

                    <ul class="copyright">
                        <li>&copy; 2019 Codeup Queers</li>
                    </ul>

                </div>

                <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home">
                    <i class="icon-up-open"></i></a>
                </div>

            </div>

        </footer> <!-- Footer End-->


        <!-- JAVASCRIPT
        ================================================== -->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../static/js/jquery-1.10.2.min.js"><\/script>')</script>
        <script type="text/javascript" src="../static/js/jquery-migrate-1.2.1.min.js"></script>

        <script src="../static/js/jquery.flexslider.js"></script>
        <script src="../static/js/waypoints.js"></script>
        <script src="../static/js/jquery.fittext.js"></script>
        <script src="../static/js/magnific-popup.js"></script>
        <script src="../static/js/init.js"></script>


    </body>

</html>