<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->

    <head>

        <!-- PAGE DESCRIPTION
        ================================================== -->
        <meta charset="utf-8">
        <title>[RESULT] Predicting SSO - The Dirty Side of Water Project</title>
        <meta name="description" content="Predicts whether a site will have an SSO event or not.">
        <meta name="author" content="Joseph Burton, Ednalyn C. De Dios, Sandy Gavlick Graham">

        <!-- MOBILE SPECIFIC
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- CSS
         ================================================== -->
        <link rel="stylesheet" href="../static/css/default-datathon-2019.css">
        <link rel="stylesheet" href="../static/css/layout-datathon-2019.css">
        <link rel="stylesheet" href="../static/css/media-queries.css">

        <!-- SCRIPTS
        ================================================== -->
        <script src="../static/js/modernizr.js"></script>

        <!-- FAVICONS & APP ICONS
        ================================================== -->
        

    </head>

    <body>

        <!-- HEADER
        ================================================== -->
        <header id="home">
        
            <nav id="nav-wrap">
            
                <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
                <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
                
                <ul id="nav" class="nav">
                    <li><a href="/datathon-2019">Go Back.</a></li>
                    <li class="current"><a class="smoothscroll" href="#home">Prediction</a></li>
                    <li class="current"><a class="smoothscroll" href="#research">Most Wanted</a></li>
                    <li><a class="smoothscroll" href="#contact">Contact Us</a></li>
                </ul><!-- end #nav -->
            
            </nav><!-- end #nav-wrap -->
            
            <div class="row banner">
                <div class="banner-text">
                    <h1 class="responsive-headline">{{ prediction }}
                    <hr />
                    <h3 class="add-bottom"><span>Likelihood of SSO is {{ prediction }}.</span></h3>
                    
                </div>
            </div><!-- end of .row -->
            
            <p class="scrolldown">
                <a class="smoothscroll" href="#recommendations"><i class="icon-down-circle"></i></a>
            </p>
            
        </header><!-- end HEADER -->

        <!-- RECOMMENDATIONS
        ================================================== -->
        <section id="recommendations">
        
            <div class="row add-bottom">
            
                <div class="two columns add-bottom">
                </div>
                <div class="eight columns collapsed add-bottom">
                
                    <h1>DATA POINTS NEEDED</h1>
                    <ul>
                        <li>When and how many times each aseet has been cleaned.</li>
                        <li>Pipe diameter</li>
                        <li>Number of pipe upstream</li>
                        <li>Age of pipe</li>
                        <li>WHen and how many times the asset had an SSO event</li>
                        <li>Whether the pipe is by a creek bed or not</li>
                        <li>Root cause of an SSO</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                </div><!-- twelve columns end -->

                <div class="two columns">
                </div>

            </div><!-- end .row -->
            
        </section><!-- end recommendations --> 

        <!-- RESEARCH
        ================================================== -->
        <section id="research">

            <div class="text-container">

                <div class="row">

                    <div class="twelve columns header-col">
                        <img src="../static/images/datathon-2019/MOST-WANTED.png">
                    </div>

                </div> <!-- row ends -->

            </div>  <!-- end text-container -->

        </section> <!-- end RESEARCH-->


        <!-- CONTACT
        ================================================== -->
        <section id="contact">

            <div class="row section-head">

                <div class="twelve columns">

                    <h1>Contact Us</h1>
                    <h2>https://ddfloww.com/datathon-2019</h2>
                    <p>&nbsp;</p>

                </div>

            </div>

            <div class="row">

                <aside class="four columns footer-widgets">

                    <div class="widget widget_contact">

                        <img src="../static/images/datathon-2019/joseph_burton_data_scientist.jpg">
                        <h4>Joseph Burton</h4>
                        <p class="address">
                        <span>(210) 875-2473</span><br>
                        <a href="mailto:josephburton06@gmail.com">Email &middot;
                        <a href="https://twitter.com/josephburton06">Twitter &middot;
                        <a href="https://github.com/josephburton06">Github <br>
                        <a href="https://www.linkedin.com/in/joseph-a-burton">LinkedIn &middot;
                        <a href="https://alumni.codeup.com/uploads/709-1561048753.pdf">Resumé</a>
                        </p>

                    </div>

                </aside>

                <aside class="four columns footer-widgets">

                    <div class="widget widget_contact">

                        <img src="../static/images/datathon-2019/ednalyn_de_dios_data_scientist.jpg">
                        <h4>Ednalyn C. De Dios</h4>
                        <p class="address">
                        <span>(210) 236-2685</span><br>
                        <a href="mailto:ednalyn.dedios@gmail.com">Email &middot;
                        <a href="https://twitter.com/ecdedios">Twitter &middot;
                        <a href="https://github.com/ecdedios">Github <br>
                        <a href="https://www.linkedin.com/in/ecdedios/">LinkedIn &middot;
                        <a href="https://alumni.codeup.com/uploads/699-1559446559.pdf">Resumé</a>
                        </p>

                    </div>

                </aside>

                <aside class="four columns footer-widgets">

                    <div class="widget widget_contact">

                        <img src="../static/images/datathon-2019/sandy_gavlick_graham_data_scientist.jpg">
                        <h4>Sandy Gavlick Graham</h4>
                        <p class="address">
                        <span>(210) 413-6505</span><br>
                        <a href="mailto:sandy.gavlick.graham@gmail.com">Email &middot;
                        <a href="https://twitter.com/SGavlickGraham">Twitter &middot;
                        <a href="https://github.com/SandyGavlickGraham">Github <br>
                        <a href="https://www.linkedin.com/in/sandy-graham/">LinkedIn &middot;
                        <a href="https://alumni.codeup.com/uploads/710-1561049096.pdf">Resumé</a>
                        </p>

                    </div>

                </aside>

            </div>

        </section> <!-- Contact Section End-->


        <!-- FOOTER
        ================================================== -->
        <footer>

            <div class="row">

                <div class="twelve columns">

                    <ul class="social-links">
                        <li><a href="https://github.com/codeupada1/san-antonio-datathon-2019"><i class="fa fa-github"></i></a></li>
                    </ul>

                    <ul class="copyright">
                        <li>&copy; 2019 Codeup Ada One</li>
                    </ul>

                </div>

                <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home">
                    <i class="icon-up-open"></i></a>
                </div>

            </div>

        </footer> <!-- Footer End-->


        <!-- JAVASCRIPT
        ================================================== -->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../static/js/jquery-1.10.2.min.js"><\/script>')</script>
        <script type="text/javascript" src="../static/js/jquery-migrate-1.2.1.min.js"></script>

        <script src="../static/js/jquery.flexslider.js"></script>
        <script src="../static/js/waypoints.js"></script>
        <script src="../static/js/jquery.fittext.js"></script>
        <script src="../static/js/magnific-popup.js"></script>
        <script src="../static/js/init.js"></script>


    </body>

</html>